apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: chat-app
  labels:
    app: backend
spec:
  type: ClusterIP
  ports:
  - port: 5001
    targetPort: 5001
    protocol: TCP
    name: http
  selector:
    app: backend
  sessionAffinity: ClientIP
