apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: chat-app
  labels:
    app: frontend
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
    nodePort: 30080
  selector:
    app: frontend
